<% if inventory.any? %>
<div class="scene-panel">
  <div class="scene-panel-header">
    <h3><%= t("views.games.inventory.title") %></h3>
  </div>
  <div class="scene-panel-body">
    <% inventory.each do |item| %>
      <% item_tooltip = item[:statuses].map { |s| t("game.status_values.#{s}", default: s) }.join(", ") %>
      <div class="object-item"<% if item_tooltip.present? %> data-tooltip="<%= item_tooltip %>"<% end %>>
        <span class="object-name"><%= item[:name] %></span>
        <% item[:statuses].each do |status| %>
          <% status_text = t("game.status_values.#{status}", default: status) %>
          <span class="status-badge"><%= status_text %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
